@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=vietnamese');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}
.margin0{
	margin: 0 !important;
}
.padding0{
	padding: 0 !important;
}
.clear{
	clear: both !important;
}
.blue{
	color: #009FDD;
}
.grey{
	color: #00c19a;
}
.inline-block{
	display: inline-block;
}
img{
    max-width: 100%;
    height: auto;
}
/**********************************************************************/

.header-home{
	background: url('../img/header-bg.jpg') no-repeat top left /cover;
	position: relative;
}
.header-home::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    background: rgba(28, 153, 230, 0.8);
    z-index: 0;
}
.header-home >.region{
	position: relative;
	z-index: 1;
}
.header-home .user-menu{
    padding: 38px 45px;
}
.header-home .user-menu ul.menu>li,
.header .user-menu ul.menu>li{
	display: inline-block;
}
.header-home .user-menu ul.menu>li>a,
.header .user-menu ul.menu>li>a{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 6px 12px;
    color: #fff;
    text-shadow: none;
    text-transform: capitalize;
    background: #009FDD;
    border-color: #009FDD;
    margin: 0 5px;
    position: relative;
    border-radius: 4px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.header-home .user-menu ul.menu>li>a.register-link,
.header .user-menu ul.menu>li>a.register-link{
	background: #00c19a;
    border-color: #00c19a;
}
.header-home .user-menu ul.menu>li>a.register-link:hover,
.header .user-menu ul.menu>li>a.register-link:hover{
    background: #16a085;
    border-color: #00c19a;
}
.header-home .user-menu ul.menu>li>a::before,
.header .user-menu ul.menu>li>a::before{
	color: #fff;
	margin-right: 5px;
    font: normal normal normal 16px/1 FontAwesome;
}
.header-home .user-menu ul.menu>li>a.register-link::before,
.header .user-menu ul.menu>li>a.register-link::before{
	content: "\f0c0";
}
.header-home .user-menu ul.menu>li>a.login-link::before,
.header .user-menu ul.menu>li>a.login-link::before{
	content: "\f090";
}
.header-home .user-menu ul.menu>li>a.logout-link::before,
.header .user-menu ul.menu>li>a.logout-link::before{
	content: "\f08b";
}
.header-home .user-menu ul.menu>li>a:hover,
.header .user-menu ul.menu>li>a:hover{
    background: #1595e8;
    border-color: #00c19a;
}
.header-home .logo-home{
	margin-bottom: 70px;
}
.header-home .logo-home img{
	max-width: 260px;
}
.header-home .search-home-form form{
	display: inline-block;
}
.header-home .search-home-form .views-exposed-widgets,
.header-home .search-home-form .views-exposed-form .views-exposed-widget{
	margin: 0;
	padding: 0;
}
.header-home .search-home-form button.btn.form-submit{
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 0 3px 3px 0;
    height: 40px;
    margin: 0;
    background: #00c19a;
    border-color: #00c19a;
    position: relative;
    text-shadow: none;
}
.header-home .search-home-form button.btn.form-submit::before,{
	content: "\f002";
	margin-right: 6px;
    font: normal normal normal 22px/1 FontAwesome;
}
.header-home .search-home-form input.form-control{
	color: #1e262d;
    font: 18px/24px 'Open Sans', Arial, sans serif;
    height: 40px;
    border: medium none;
    border-radius: 4px 0 0 4px;
    width: 450px;
}
.header-home .button-share-home ul.rrssb-buttons{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 560px;
}
.header-home .button-share-home ul.rrssb-buttons>li{
    display: inline-block;
    float: left;
    margin: 60px 0;
    padding: 0 2px;
}
.header-home .button-share-home ul.rrssb-buttons>li a{
	background-color: #306199;
	border-radius: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
	padding: 7px;
	color: #fff;
    font-weight: 500;
    width: 100%;
    display: inline-block;
}
.header-home .button-share-home ul.rrssb-buttons>li.rrssb-twitter a{
    background-color: #26c4f1;
}
.header-home .button-share-home ul.rrssb-buttons>li.rrssb-twitter a:hover{
    background-color: #0eaad6;
}
.header-home .button-share-home ul.rrssb-buttons>li.rrssb-email a{
	background-color: #0a88ff;
}
.header-home .button-share-home ul.rrssb-buttons>li.rrssb-email a:hover{
	background-color: #006ed6;
}
.header-home .button-share-home ul.rrssb-buttons>li.rrssb-googleplus a{
	background-color: #e93f2e;
}
.header-home .button-share-home ul.rrssb-buttons>li.rrssb-googleplus a:hover{
	background-color: #ce2616;
}
.header-home .button-share-home ul.rrssb-buttons>li.rrssb-facebook a:hover{
    background-color: #244872;
}
.header-home .button-share-home ul.rrssb-buttons>li a>.rrssb-icon{
    float: left;
    top: 3px;
    left: 2px;
    position: relative;
}
.header-home .button-share-home ul.rrssb-buttons>li a>.rrssb-icon svg{
    height: 17px;
    width: 17px;
}
.header-home .button-share-home ul.rrssb-buttons>li a>.rrssb-icon svg path{
	fill: #fff;
}

/**********************************************************************/
.header-home .statistics-home{
	padding: 10px 0;
    background: none repeat scroll 0 0 rgba(85, 166, 215, 0.73);
}
.header-home .statistics-home .iblock{
	padding: 25px 0;
	color: #fff;
}
.header-home .statistics-home .iblock>.icent{
	display: inline-block;
    min-width: 150px;
}
.header-home .statistics-home .iblock i.fa{
    font-size: 42px;
    float: left;
    margin-right: 15px;
}
.header-home .statistics-home .iblock .idiv{
	float: left;
	text-align: left;
}
.header-home .statistics-home .iblock .idiv>.inum{
    font: 500 18px/24px 'Open Sans', Arial, sans serif;
}
.header-home .statistics-home .iblock .idiv>.itext{
    color: #c3ebf5;
    font: 12px/14px 'Open Sans', Arial, sans serif;
}

/*************************** Content front ***************************/
.about-home-block{
	padding: 80px 0;
	background: url('../img/front-bg.jpg') no-repeat top left /cover;
	color: #fff;
}
.about-home-block h2.block-title{
    margin: 0 0 30px;
    font-size: 50px;
    font-weight: bold;
}
.branch-list{
    padding: 80px 0;
    background: url('../img/brand-bg.jpg') no-repeat top left /cover;
    color: #535353;
    position: relative;
}
.branch-list >.block-wrap{
    position: relative;
    z-index: 1;
}
.branch-list::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 0;
    display: inline-block;
    visibility: visible;
}
.branch-list .view-header{
    border-bottom: 1px solid #eaeaea;
    color: #535353;
    font: 500 36px/38px 'Open Sans', Arial, sans serif;
    margin: 0 0 25px;
    padding: 0 0 10px;
}
.branch-list .view-header h2.block-title{
    
}
.branch-list .view-header a.link{
    float: right;
    font: 400 22px/22px 'Open Sans', Arial, sans serif;
    background: #009FDD;
    border-color: #009FDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.branch-list .view .views-row a{
    font: 400 15px/22px 'Open Sans', Arial, sans serif;
    text-decoration: none;
    color: #34495e;
    position: relative;
}
.branch-list .view .views-row a:hover{
    background: #d2efff;
}
.branch-list .view .views-row a::after{
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    color: #D7D7D7;
    margin-left: 8px;
}
.node-document .relate-doc,
.list-home-doc{
    padding: 80px 0;
    background: #55a6d7;
}
.node-document .relate-doc h2.block-title,
.list-home-doc h2.block-title{
    color: #fff;
    font: 400 38px/44px 'Open Sans', Arial, sans serif;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
}
.node-document .relate-doc .doc-item>.row-content,
.list-home-doc .doc-item>.row-content{
    margin: 15px 0;
    color: #fff;
}
.node-document .relate-doc .doc-item .views-field-title a,
.list-home-doc .doc-item .views-field-title a{
    color: #fff;
    text-align: left;
    margin-top: 5px;
    display: inline-block;
    font-size: 13px;
}
.node-document .relate-doc .doc-item .views-field-title a .page-number,
.list-home-doc .doc-item .views-field-title a .page-number{
    background-color: #5bc0de;
    font: 10px/12px Arial, sans serif;
    padding: 0.1em 0.3em;
}
.node-document .relate-doc .doc-item .views-field-field-thumbs,
.list-home-doc .doc-item .views-field-field-thumbs{
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
    transition: all 0.2s linear 0s;
}
.node-document .relate-doc .doc-item .views-field-field-thumbs:hover,
.list-home-doc .doc-item .views-field-field-thumbs:hover{
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
    border-color: #00c19a;
}
/*************** ENd front ****************/

header.header{
    background: none repeat scroll 0 0 #55a6d7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    min-height: 65px;
    padding: 15px 0;
}
header.header a.logo{
    display: inline-block;
    max-height: 35px;
    margin-right: 40px;
}
.search-doc-form .views-exposed-widgets,
.search-doc-form .views-exposed-form .views-exposed-widget,
header.header .search-doc-header .views-exposed-widgets,
header.header .search-doc-header .views-exposed-form .views-exposed-widget{
    padding: 0;
    margin: 0;
},
.search-doc-form input.form-control,
header.header .search-doc-header input.form-control{
    min-width: inherit;
    width: 100%;
    border: 1px solid #eee;
    opacity: .9;
    transition: all .3s linear;
    padding-right: 40px;
}
.search-doc-form .views-submit-button,
header.header .search-doc-header .views-submit-button{
    z-index: 1;
    position: relative;
}
.search-doc-form button.btn,
header.header .search-doc-header button.btn{
    margin: 0;
    margin-left: -100%;
    background: none;
    width: 40px;
    border-radius: 0 5px 5px 0;
    border: none;
    box-shadow: none;
    overflow: hidden;
    text-indent: 99px;
    height: 35px;
    padding: 0;
    position: relative;
}
.search-doc-form button.btn::before,
header.header .search-doc-header button.btn::before{
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    color: #64ACD9;
    text-shadow: none;
    left: 10px;
    top: 2px;
    text-indent: 0;
    font-size: 20px;
}

.header-doc{
    background: #eff0f2;
    z-index: 2;
    padding: 7px 0px;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.header-doc ul.option-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.header-doc ul.option-menu li{
    display: inline-block;
}
.header-doc ul.option-menu li a{
    border-radius: 3px;
    border: none;
    text-shadow: none;
    font-size: 13px;
    box-shadow: none;
    background: #3aa9f1;
    opacity: 0.8;
    transition: all 0.2s ease;
    margin: 0 1px;
}
.header-doc ul.option-menu li a.download{
    background: #16a085;
}
.header-doc ul.option-menu li a:hover{
    opacity: 1;
}
.header-doc .go-page-form{
    margin: 0 30px;
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
}
.header-doc .go-page-form >*{
    display: inline-block;
    line-height: 30px;
}
.header-doc .go-page-form span.of{
    color: #999;
}
.header-doc .go-page-form input.form-control{
    text-align: center;
    width: 55px;
    margin: 0 5px;
    padding: 0 0 0 5px;
    height: 30px;
}
.header-doc .go-page-form button.btn{
    background: #009FDD;
    border-color: #009FDD;
    color: #fff;
    margin: 0 5px;
    height: 30px;
    line-height: 1;
    padding: 0 10px;
}
.header-doc .search-doc-form{
    display: inline-block;
    vertical-align: middle;
}
.header-doc .search-doc-form .views-exposed-form .views-exposed-widget .form-submit{
    margin: 0 0 0 -40px;
    height: 30px;
}
.node-head{
    padding: 15px 30px 0;
    position: relative;
    background: #fff;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}
.node-head ol.breadcrumb{
    padding: 0;
    background: none;
    margin: 5px 0;
    font-size: 13px;
}
.node-head ol.breadcrumb a{
    color: #646464;
}
.node-head h1.node-title{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font: 500 28px/33px 'Open Sans', Arial, sans serif;
}
.node-head .body{
    
}
.node-head .page-slide-show{
    position: relative;
    background-color: #0000000f;
    margin: 20px -30px 0;
    padding: 15px 30px;
}
.node-head .page-slide-show .slide-content{
    position: relative;
}
.node-head .page-slide-show .item{
    position: relative;
    display: inline-block;
    transition: all .1s linear;
    border: 2px solid #fff;
    background: url('../img/loader-5.gif') no-repeat center;
    min-height: 120px;
}
.node-head .page-slide-show .item.active,
.node-head .page-slide-show .item:hover{
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.102);
    border-color: orange;
}
.node-head .page-slide-show .item .number{
    background: none repeat scroll 0 0 #1aacf9;
    border-radius: 2px;
    color: #fff;
    font: bold 11px/13px Arial,sans serif;
    height: 18px;
    padding: 3px 8px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    z-index: 1;
}
.node-head .page-slide-show .slide-content .owl-nav > div{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    left: -30px;
    position: absolute;
    top: 40%;
    overflow: hidden;
    text-indent: 99px;
    color: #55a6d7;
    transition: all 0.2s ease;
}
.node-head .page-slide-show .slide-content .owl-nav > div:hover{
    background: #55a6d7;
    color: #fff;
}
.node-head .page-slide-show .slide-content .owl-nav > div:before{
    content: "\f104";
    font: 25px FontAwesome;
    text-indent: 0;
    left: 0px;
    position: absolute;
    top: 2px;
    width: 100%;
    height: 100%;
}
.node-head .page-slide-show .slide-content .owl-nav >.owl-next{
    left: auto;
    right: -30px
}
.node-head .page-slide-show .slide-content .owl-nav >.owl-next:before{
    content: "\f105";
    left: 2px;
}
.node-content .doc-html{
    position: relative;
    padding: 10px;
    background: #fff;
    border: 1px solid #d0d0d0;
}
.node-content .doc-html .doc-nav a{
    z-index: 9;
    top: 50%;
    left: 0;
    color: #c5c5c5;
    font-size: 90px;
    margin-top: -45px;
    position: absolute;
    text-align: center;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    opacity: 0.8;
}
.node-content .doc-html .doc-nav a:hover{
    color: #1abc9c;
    opacity: 1;
}
.node-content .doc-html .doc-nav a.next{
    left: auto;
    right: 0;
}
.node-document{
    background: #e4eef5;
}
.doc-html .frame-doc{
    overflow: hidden;
}
.doc-html .frame-doc>.frame-wrap{
    position: relative;
}
.doc-pagging{
    border: 1px #D0D0D0 solid;
    border-top: none;
    padding: 15px;
    background: #fff;
    position: relative;
}
.doc-pagging ul.pagination li.pager-first > a,
.doc-pagging ul.pagination li.prev > a,
.doc-pagging ul.pagination li.next > a,
.doc-pagging ul.pagination li.pager-last > a{
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 3px;
    background: #009FDD;
    color: #fff;
    font-size: 21px;
    line-height: 35px;
    text-transform: capitalize;
}
.doc-pagging ul.pagination li.prev > a{
    left: 120px;
}
.doc-pagging ul.pagination li.next > a{
    left: auto;
    right: 120px;
}
.doc-pagging ul.pagination li.pager-last > a{
    left: auto;
    right: 30px;
}
.doc-pagging ul.pagination li > a.disable{
    background: #AFAFAF;
    pointer-events: none;
}
.doc-pagging ul.pagination li > a:not(.disable):hover{
    background: #008AC1;
    color: #fff;
}
.doc-pagging ul.pagination li.pager-item > a,
.doc-pagging ul.pagination li.active > span,
.doc-pagging ul.pagination li.pager-ellipsis > span{
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #f1f1f1;
    padding: 5px 15px;
}
.doc-comment{
    font: 13px/18px "Arial";
    padding: 15px 0;
    background: #fff;
}
.doc-comment h2.title{
    font: 400 22px/26px 'Open Sans', Arial, sans serif;
    margin-bottom: 20px;
}
.doc-comment .comment-list >.comment{
    margin: 15px 0 20px;
    position: relative;
    padding: 0 40px;
}
.doc-comment .comment-list >.comment::before,
.doc-comment .comment-list >.comment::after{
    content: "\f10d";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 0;
    top: -5px;
    color: #dfccf0;
}
.doc-comment .comment-list >.comment::after{
    content: "\f10e";
    left: auto;
    right: 0;
    top: 100%;
    visibility: visible;
}
.doc-comment .comment-list >.comment .submitted{
    margin-bottom: 5px;
    font-size: 12px;
}
.doc-comment .comment-list >.comment .commenter-name{
    font-weight: 600;
}

.download-header{
    background: #E4EEF5;
    color: #222;
    padding: 15px;
    margin-bottom: 15px;
}
.download-header ol.breadcrumb{
    background: #E4EEF5;
    padding: 0;
    margin: 0 0 10px;
}
.download-header h1.download-title{
    font: 28px 'Open Sans', Arial, sans serif;
    margin: 0;
    padding: 0;
}
.download-area{
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    margin-bottom: 15px;
    padding: 0 15px;
    border-radius: 5px;
}
.download-area .desc{
    font-size: 13px;
}
.download-area h2{
    color: #333333;
    font-size: 25px;
}
.download-area .error{
    color: red;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 600;
}
.download-area .result{
    margin: 10px 0;
}
.download-area .result .count-down{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px 0;
    font-weight: 600;
    font-size: 18px;
    color: #999;
}
.download-area .result .count-down::before{
    content: "";
    -moz-animation: loaderific-rotation 1s infinite linear;
    -o-animation: loaderific-rotation 1s infinite linear;
    -webkit-animation: loaderific-rotation 1s infinite linear;
    animation: loaderific-rotation 1s infinite linear;
    border-bottom: 3px solid #d8d8d8;
    border-left: 3px solid #d8d8d8;
    border-radius: 100%;
    border-right: 3px solid #d8d8d8;
    border-top: 3px solid #007fad;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    z-index: 1;
}
button.btn#get-link-download{
    background: #00c19a none repeat scroll 0 0;
    border-color: #00c19a;
    height: 61px;
    font-size: 20px;
    margin: 10px 0;
}
/**************************************/

/*************** Footer *****************/
footer.footer{
    background: none repeat scroll 0 0 #fafafa;
    color: #777575;
    z-index: 10;
    border-top: 1px solid #eee;
    padding: 40px 0;
}
.loading{
    min-height: 20px;
    position: relative;
}
.loading:before {
    content: "";
    -moz-animation: loaderific-rotation .5s infinite linear;
    -o-animation: loaderific-rotation .5s infinite linear;
    -webkit-animation: loaderific-rotation .5s infinite linear;
    animation: loaderific-rotation .5s infinite linear;
    border-bottom: 3px solid #d8d8d8;
    border-left: 3px solid #d8d8d8;
    border-radius: 100%;
    border-right: 3px solid #d8d8d8;
    border-top: 3px solid #007fad;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 11;
}
@-moz-keyframes loaderific-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes loaderific-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-o-keyframes loaderific-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-ms-keyframes loaderific-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@keyframes loaderific-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}